.search-area {
    margin-bottom: 15px;
    
    #search-bar {
        width: 100%;
        margin: 5px 0;
    }

    .autosearch-item {
        margin: 5px 0;
        font-family: "Scaly Sans";
        border-bottom: 1px solid #aaa;
    }
}
