@font-face {
    font-family: "Scaly Sans";
    src: url("./fonts/Scaly-Sans.otf")  format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Scaly Sans Caps";
    src: url("./fonts/Scaly-Sans-Caps-Bold.otf")  format("opentype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Mr Eaves Small Caps";
    src: url("./fonts/Mr-Eaves-Small-Caps.otf")  format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Merriweather";
    src: url("./fonts/Merriweather-Regular.ttf")  format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Merriweather";
    src: url("./fonts/Merriweather-Light.ttf")  format("truetype");
    font-weight: 200;
    font-style: normal;
}
